*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  margin: 15px;
  transition: color 0.5s;
}

a:hover {
  color: #45567d;
  transition: color 0.3;
}